<!-- linkedin_app/templates/index.html -->
{% extends 'base.html' %}

{% block content %}
{% include './partials/_hero.html' %}
{% include './partials/_explore.html' %}
{% include './partials/_find_right_job.html' %}
{% include './partials/_post_your_job.html' %}
{% include './partials/_discover_the_best.html' %}
{% include './partials/_keep_your_mind.html' %}
{% include './partials/_carousel.html' %}
{% include './partials/_connect_with_people.html' %}
{% include './partials/_who_is_linkedin.html' %}
{% include './partials/_join_your_colleagues.html' %}
{% include './partials/_secondary_footer.html' %}
{% endblock content %}