<!-- linkedin_app/templates/linkedin_app/partials/_explore.html -->

<!-- EXPLORE COLLABORATIVE ARTICLES -->
<section>
  <div class="container-xl">
    <div class="row gx-5">
      <div class="col-lg-4 offset-lg-1">
        <div class="row mb-2 mb-lg-0">
          <div class="col-lg-9">
            <h2 class="main-h2-heading">Explore collaborative articles</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <p class="lead">
              We&apos;re unlocking community knowledge in a new way. Experts add
              insights directly into each article, started with the help of AI.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="pt-4 explore-links-container">
          <!-- Generate buttons using JavaScript - see index.js EXPLORE -->
        </div>
      </div>
    </div>
  </div>
</section>
