<!-- linkedin_app/templates/linkedin_app/partials/_join_your_colleagues.html -->
{% load static %}

<!-- JOIN YOUR COLLEAGUES -->
 <!-- See 'base.html' for background image -->
<section
  class="join-your-colleagues-section-container position-relative mb-3"
>
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="join-your-colleagues-text-container">
          <h2 class="display-5 mb-3">
            Join your colleagues, classmates, and friends on LinkedIn.
          </h2>
          <a href="#" class="dark-blue-btn py-2 px-4 text-white mt-2 d-inline-block get-started-btn">Get started</a>
        </div>
      </div>
    </div>
  </div>
</section>
