<!-- linkedin_app/templates/linkedin_app/partials/_secondary_footer.html -->
{% load static %}

<!-- SECONDARY FOOTER -->
<section class="secondary-section-container py-4">
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-1 offset-lg-1 mb-4">
        <div>
          <img
            src="{% static 'images/light-linkedin-logo-img.png' %}"
            alt="LinkedIn logo"
            class="linkedin-logo"
          />
        </div>
      </div>
      <div class="col-lg-9">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-evenly secondary-footer-links-container">
          <!-- Generate links using JavaScript - see index.js SECONDARY FOOTER -->
          </div>
        </div>
      </div>
    </div>
</section>
